.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.git/**
.github/**
*.map
webpack.config.js
tsconfig.json
**/*.ts
!dist/extension.js
dist/**/*.map
dist/*.map
.gitignore
docs/**
.superpowers/**
scripts/**
assets/**
*.vsix
artifacts/**
